.foot{
    margin-top: 30px;
    padding: 0 5vw;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 0px 12px 0 #7c68ff;
}
.about-me{
    margin-top: 5px;
   display: flex;
   align-items: center;
   gap: 10px; 
}
.about-me svg{
    height: 25px;
    padding: 5px;
    border-radius: 3px;
    width: 25px;
    background-color: #0e2aff;
    cursor: pointer;
}
.foot h4,h3{
    font-weight: 400;
}
.foot h3{
    color: #a5a5a5;
}
.foot p{
    font-size:  16px;
    font-weight: 200;
    color: #bfb7e4;
}
.linkedin{
    display: flex;
    align-self: center;
}
.thanks{
    width: 70%;
}
@media (max-width:600px) {
    .foot p{
        font-size: 1.2vh;
        text-wrap: wrap;
    }
    .foot h3,h4{
        font-size: 1.6vh;
    }
    .about-me{
        margin-top: 4px;
       display: flex;
       align-items: center;
       gap: 5px; 
    }
    .about-me svg{
        height: 15px;
        padding: 2.5px;
        border-radius: 1px;
        width: 15px;
        background-color: #0e2aff;
        cursor: pointer;
    }
}
@media (max-width:400px) {
    .thanks{
        display: none;
    }
}